<div class="row aboutus">
	<div class="row p1">
		<div class="bg_naranja">
			<h1>construyendo</h1>
			<h2>una comunidad de aprendizaje</h2>
			<p>Tanto con corporaciones transnacionales como con empresas familiares</p>
		</div>

		<img class="full_width_img img-responsive" src="img/banner_2.jpg" />
	</div>

	<div class="container p2">
		<img class="img-responsive" src="img/telescopio.png" />

		<h2>nuestra visión</h2>

		<p>"Ser reconocidos como el centro de liderazgo con mayor impacto positivo en Latinoamérica, con presencia en por lo menos cinco países"</p>
	</div>

	<div class="row p3">
		<div class="col-xs-4">
			<img class="img-responsive" src="img/montana.png" />
			<h2>nuestra</h2>
			<h1>misión</h1>

			<p>"Crear experiencias de aprendizaje que transformen positivamente la forma en la que, los líderes, sus organizaciones y la sociedad enfrentan sus problemas más desafiantes"</p>
		</div>
	</div>

	<div class="container p4">
		<h1>nuestros valores</h1>

		<div class="col-sm-3">
			<img class="img-responsive" src="img/nv1.png" />

			<h2>liderazgo</h2>

			<p>Somos y formamos agentes<br/>de cambio bajo la premisa<br/>de que cada persona puede<br/>y debe marcar la diferencia,<br/>esto determina el carácter y<br/>la fuerza de GCG</p>
		</div>

		<div class="col-sm-3">
			<img class="img-responsive" src="img/nv2.png" />

			<h2>compromiso</h2>

			<p>Hacemos lo imposible para<br/>crear una experiencia única<br/>y positiva para nuestros<br/>clientes.</p>
		</div>

		<div class="col-sm-3">
			<img class="img-responsive" src="img/nv3.png" />

			<h2>actitud de<br/>servicio</h2>

			<p>Ofrecemos un servicio de<br/>calidad que supera las<br/>expectativas de nuestros<br/>clientes con un valor<br/>duradero en el tiempo</p>
		</div>

		<div class="col-sm-3">
			<img class="img-responsive" src="img/nv4.png" />

			<h2>innovación</h2>

			<p>Nuestros servicios están a la<br/>vanguardia y nos permiten<br/>ofrecer soluciones<br/>modernas e innovadoras.</p>
		</div>
	</div>
</div>