<div class="row contact">
	<div class="row p1">
		<img class="full_width_img img-responsive" src="img/banner-contacto.jpg" />
	</div>

	<div class="containter p2">
		<h1>contáctenos</h1>
		<h2>Si tiene alguna consulta o sugerencia, no dude en contactarnos.</h2>

		<div class="contact-form">
			<div class="col-md-6">
				<input type="text" placeholder="NOMBRE" />
			</div>

			<div class="col-md-6">
				<input type="text" placeholder="E-MAIL" />
			</div>

			<div class="col-md-12">
				<input type="text" placeholder="TEMA DE CONSULTA" />
			</div>

			<div class="col-md-12">
				<textarea placeholder="MENSAJE"></textarea>
			</div>

			<button>enviar</button>
		</div>

		<h3>dirección</h3>
		<p>Av. Canal Cotoca 2210 entre 2° y 3° anillo, 2° piso</p>
		<p>Santa Cruz de la Sierra - Bolivia</p>
		<br/><br/><br/>

		<h3>teléfonos</h3>
		<p>(591-3) 364-9063</p>
		<p>(591-3) 364-5090</p>
	</div>

	<div class="row p3">
		<img class="full_width_img img-responsive" src="img/mapa.jpg" />
	</div>
</div>