<div class="footer">
	<div class="row p1">
		<div class="container">
			<div class="col-md-4">
				<p>home</p>
				<p><a href="./#/aboutus">acerca de nosotros</a></p>
				<p>apuesta de valor</p>
				<p>blog</p>
				<p>clientes</p>
				<p>contacto</p>
			</div>

			<div class="col-md-4">
				<p>contacto</p>

				<p class="no_transform">
					<img class="img-responsive" src="img/icon-telefono.png" style="visibility:hidden;" />
					Global Consulting Group
				</p>
				<img class="img-responsive" src="img/icon-telefono.png" style="margin-top: 4px;" />
				<span>+591 3 3649063</span> <br/>
				<span>+591 3 3645090</span> <br/><br/><br/>

				<img class="img-responsive" src="img/icon-email.png" style="margin-top: -7px;" />
				<span>info@globalconsulting.com.bo</span><br/><br/><br/>
			</div>

			<div class="col-md-4">
				<a class="twitter-timeline"  href="https://twitter.com/AxlSM" data-widget-id="500305459501219842" data-chrome="nofooter noborders noheader transparent">Tweets by @GCGinfo</a>
        		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>          
			</div>
		</div>
	</div>

	<div class="row p2">
		<div class="container">
			<div class="col-md-8">
				<a href="" target="_blank"><img src="img/icon-facebook.png" alt="" class="img-responsive"></a>
				<a href="" target="_blank"><img src="img/icon-rss.png" alt="" class="img-responsive"></a>
				<a href="" target="_blank"><img src="img/icon-youtube.png" alt="" class="img-responsive"></a>
				<a href="https://twitter.com/GCGinfo" target="_blank"><img src="img/icon-twitter.png" alt="" class="img-responsive"></a>
				<a href="" target="_blank"><img src="img/icon-googleplus.png" alt="" class="img-responsive"></a>
			</div>

			<div class="col-md-4">
				<a href="http://www.globalconsulting.com.bo" target="_blank">
					www.globalconsulting.com.bo
				</a>
			</div>
		</div>
	</div>
</div>