<div class="home">
	<div class="row p1">
		<div class="bg_naranja">
			<h1>construyendo</h1>
			<h2>una comunidad de aprendizaje</h2>
			<p>Tanto con corporaciones transnacionales como con empresas familiares</p>
		</div>

		<img class="full_width_img img-responsive" src="img/banner_2.jpg" />
	</div>

	<div class="row p2">
		<div class="col-sm-4 fondo_1">
			<img class="img-responsive" src="img/icon-calendario-gris.png" />
			<span>2003</span>
			<p>
				fundada <br/>
				en el año
			</p>

			<div class="linea_divisora"></div>
		</div>

		<div class="col-sm-4 fondo_2">
			<img class="img-responsive" src="img/icon-medalla-gris.png" />
			<span>#1</span>
			<p>
				en certificaciones <br/>
				internacionales
			</p>

			<div class="linea_divisora"></div>
		</div>

		<div class="col-sm-4 fondo_3">
			<img class="img-responsive" src="img/icon-libreta-gris.png" />
			<span>+500</span>
			<p>
				programas <br/>
				ejecutivos
			</p>
		</div>
	</div>

	<div class="row p3">
		<div class="container">
			<div class="col-sm-6">
				<div class="panel">
					<h2>nuestra</h2>
					<h1>experiencia</h1>

					<p>Los programas de desarrollo GCG, hacen uso de una <br/>
					metodología experiencial, entendiendo el contexto local y <br/>
					alentando el uso de las herramientas de gestión más efectivas.</p>

					<button class="btn btn-gcg">ver más programas</button>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel_half_height">
					<img class="img-responsive" src="img/icon-muneco-naranja.png" />
					<p>the art and practice of leadership development</p>
					<span>harvard university</span>
				</div>

				<div class="panel_half_all">
					<img class="img-responsive" src="img/icon-bombilla-naranja.png" />
					<p>certificación en<br/>evaluaciones 360</p>
					<p class="bold">center for creative<br/>leadership</p>
				</div>

				<div class="panel_half_all">
					<img class="img-responsive" src="img/icon-manos-naranja.png" />
					<p>negotiation for<br/>senior executives</p>
					<p class="bold">harvard university</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container p4">
		<img class="img-responsive mid" src="img/logo-harvard.png" />
		<img class="img-responsive mid" src="img/logo-mit.png" />
		<img class="img-responsive" src="img/ccl.png" />
		<img class="img-responsive mid" src="img/logo-project-adventure.png" />
		<img class="img-responsive mid" src="img/logo-korn-ferry.png" />
	</div>

	<div class="row p5">
		<div class="col-sm-5">
			<h2>gcg</h2>
			<h1>en el mundo</h1>
			<p>Países donde brindamos<br/>nuestros servicios</p>

			<button class="btn btn-gcg">ver más</button>
		</div>

		<div class="col-sm-7">
			<img class="img-responsive" src="img/globo-tierra-paises.png" />
		</div>
	</div>

	<!--<div class="container p6">
		<h2>nuestra</h2>
		<h1>apuesta de valor</h1>

		<p>En Global Consulting Group a través de nuestros programas y servicios tenemos la finalidad de generar diferentes niveles de impacto que ayuden al desarrollo de su personal, sus equipos y su organización, alcanzando finalmente un avance como sociedad.</p>

		<img class="img-responsive" src="img/apuesta-de-valor.png" />
	</div>

	<div class="row p7">
		<div id="home_carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#home_carousel" data-slide-to="0" class="active"></li>
				<li data-target="#home_carousel" data-slide-to="1"></li>
				<li data-target="#home_carousel" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">
						<div class="col-sm-6">
							<img class="img-responsive" src="img/slider.jpg" />
						</div>

						<div class="col-sm-6">
							<div class="fecha">
								<p>19</p>
								<p>mar</p>
								<p>1993</p>
							</div>

							<p class="titulo">dolor sit amet</p>
							<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							<a class="leer_mas">leer más &rarr;</a>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="container">
						<div class="col-sm-6">
							<img class="img-responsive" src="img/slider.jpg" />
						</div>

						<div class="col-sm-6">
							<div class="fecha">
								<p>27</p>
								<p>ago</p>
								<p>1992</p>
							</div>

							<p class="titulo">dolor sit amet</p>
							<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							<a class="leer_mas">leer más &rarr;</a>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="container">
						<div class="col-sm-6">
							<img class="img-responsive" src="img/slider.jpg" />
						</div>

						<div class="col-sm-6">
							<div class="fecha">
								<p>10</p>
								<p>ago</p>
								<p>1993</p>
							</div>

							<p class="titulo">dolor sit amet</p>
							<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							<a class="leer_mas">leer más &rarr;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
</div>