<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" onclick="cambiarZIndex();" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="./#/home">
				<img class="logo img-responsive pull-left" src="img/logo.png" />
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right navbar_buttons">
				<!--<li><a href="#">home</a></li>-->
				<!--<li><a href="./#/aboutus">acerca de nosotros</a></li>-->
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">acerca de nosotros <span class="caret"></span></a>

					<ul class="dropdown-menu">
						<li><a href="./#/aboutus">Experiencia</a></li>
						<li><a href="">Misión & Visión</a></li>
						<li><a href="">Avance como sociedad</a></li>
						<li><a href="">GCG en el mundo</a></li>
						<li><a href="./#/ourpeople">Nuestra gente</a></li>
					</ul>
				</li>
				<li><a href="">nuestros servicios</a></li>
				<!--<li><a href="#">blog</a></li>-->
				<li><a href="">clientes</a></li>
				<li><a href="">contacto</a></li>



				<!--<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				</ul>
				</li>-->
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>