<div class="row ourpeople">
	<div class="row p1">
		<h1>"construyendo una comunidad de aprendizaje, tanto con corporaciones transnacionales como con empresas familiares"</h1>
	</div>

	<div class="container p2">
		<h1>nuestro equipo</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>

		<div class="equipo">
			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>

			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>

			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>

			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>

			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>

			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>

			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>

			<div class="miembro col-md-3">
				<img class="img-responsive" src="img/miembro.jpg" />

				<h2>lorem ipsum dolor</h2>
				<p>nec varius diam</p>
			</div>
		</div>
	</div>
</div>